<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
</head>
<body class="bg-light">
<div class="container py-5">
    
    <div style="max-width: 200px;">

    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="45" fill="#4CAF50" />
        <path d="M70,30 L50,70 L30,30 L70,30 Z" fill="#FFF" />
        <text x="50" y="65" text-anchor="middle" fill="#6C7A89" font-size="36">CFP</text>
      </svg>

    </div>
<canvas id="myChart"></canvas>

<div id="description"></div>

</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
 


</body>
</html>


